.header {
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  align-items: center;
  padding-top: 92px;
  padding-left: 24px;
  padding-right: 24px;
}

.header__links-list {
  display: flex;
  list-style-type: circle;
  font-size: 18px;
  padding-left: 26px;
  gap: 1.84em;
}

.header__links-list-item a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__links-list-item_no-bullit{
  list-style-type: none;
}

.header__links-list-item_no-bullit a {
  border-bottom: none;
}

.header__address {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 20px;
  padding-right: 64px;
  letter-spacing: -1px;
  line-height: 1.199;
  justify-self: end;
}

.header__address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

